version: "3.7"
services:
    # https://api.covid19api.com/summary
    grafana:
        container_name: grafana
        image: grafana/grafana:latest
        ports: 
            - "3000:3000"
        volumes:
            - ./data/grafana:/var/lib/grafana
        environment:
            - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
            - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
            - GF_INSTALL_PLUGINS=yesoreyeram-infinity-datasource
